This will be a file that will tell the repository to automatically ignore files of a certain type.
There are a lot of templates to choose from at te right. I also don't want to just choose one as it may not be a feature we even feel the need to use.
But I'm going to create the file regardless. Cheers.
