/* This is the CSS for the "Alaina's Love Story" webpage. */
/* Project: UMSL CS4500 SS2016 Group Project. */
/* Author: Benjamin Leach */
/* Partners: Brett Lindsay
             Jason Pharms
	     Chad Nelson
	     Ryan Admire*/

	/*_________________*/
	/*                 */
	/*    Background   */
	/*_________________*/
body{
	/* CSS3 allows using mutiple images as the background. */
	/* That's what I have done here. */
	/* I am using the blue bubbles too offset the pink a little. */
	/* I'm willing to use a different color or picture if need be. */
	background: url(cs4500Media/backgrounds/bubbles.jpg) no-repeat top right, url(cs4500Media/backgrounds/pink_butterfly.jpg) no-repeat center center fixed;
	
}

/* This is the style rule for the area of the start button. */
.startbuttonarea {
	position: fixed; 
	bottom: 5%;
	width: 100%; 
	text-align: center;
}

/* This is the style rule for the all buttons on the webpage. */
button {
	/*________________*/
	/*                */
	/*     Colors     */
	/*________________*/
	background-color: #b300b3; /* medium-purple */
	border: none;
	color: white;
	text-align: center;
	/* border adds a colored border to the button. */
	border: 2px solid #f7f7f7; /* off white */
	
	/*________________*/
	/*                */
	/*     Size       */
	/*________________*/
	/* font-size determines the size of the button. */
	font-size: 25px;
	/* padding is how much extra space there is
	   in the button beyond the font. */
	padding: 15px 15px;
	width: 250px;
	
	/*________________*/
	/*                */
	/*      Look      */
	/*________________*/
	/* border-radius determines how round the button is. */
	border-radius: 20px;
	/* I went with a "softer" font for the text. */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/* Give is a shadow with the box-shadow feature. */
	box-shadow: 0 9px #999;
	
	/* transition-duration: .4s means wait a 
	   little to change the button look when
	   to mouse hovers over the button. */
	transition-duration: .4s;
}

/* This style rule will determine what happens
   when the mouse hovers over the button. */
button:hover {
	background-color: #ff1aff; /* light purple */
	/* font color line below */
	color: black;
}

/* This style rule determines what happens when
   the button is clicked. */
.startbutton:active {
	/* I changed the posistion and color of the shadow
	   with box-shadow so it will look like the shadow 
	   had moved when the user clicks on it. 
	*/
	box-shadow: 0 5px #666;
	/* transform moves the button. translateY(4px) means
	   move it down 4 pixels. */
	transform: translateY(4px);
}

.imageDisplay{
    height:100%;
    width:100%;
    position: relative;
    left: 0%;
    top: 0%;
}

.imageDisplayArea{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 5px solid #9999ff /* light blue, little white/pink */;
	/*box-shadow: 5px 5px #666; */
	background-color: white;
	width:300px;
	height:300px;
}

.popupBox {
	position: relative;
	left: 8%;
	top: 10%;	
}

.inactive {
    background-color: #ff1aff; /* light purple */
	/* font color line below */
	color: black;
}
