/* This is the CSS for the "Alaina's Love Story" webpage. */
/* Project: UMSL CS4500 SS2016 Group Project. */
/* Author: Benjamin Leach */
/* Partners: Brett Lindsay
             Jason Pham
	     Chad Nelson
	     Ryan Admire*/

	/*_________________*/
	/*                 */
	/*    Background   */
	/*_________________*/


.everythingClass
{
	background-image: url(cs4500Media/backgrounds/pink_butterfly.jpg);
	
	position:fixed;

	padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.everythingClassBlurred
{
	background-image: url(cs4500Media/backgrounds/pink_butterfly.jpg);
	
	position:fixed;

	padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
	
	/* The following rules use
	   the CSS filter property.
	   The filter property is relativly
	   new. Also, a different rule
	   is needed for each brower.
	 */
	-webkit-filter : blur(5px);
	-moz-filter    : blur(5px);
	-o-filter      : blur(5px);
	-ms-filter     : blur(5px);
	filter         : blur(5px);
	opacity        : 0.4      ;
}

/* This is the style rule for the area of the start button. */
.activebuttonarea {
	position: fixed; 
	bottom: 5%;
	width: 100%; 
	/*text-align: center;*/
}

/* This is the style rule for the all buttons on the webpage. */
.activebutton {
	/*________________*/
	/*                */
	/*     Colors     */
	/*________________*/
	background-color: #b300b3; /* medium-purple */
	border: none;
	color: white;
	text-align: center;
	/* border adds a colored border to the button. */
	border: 2px solid #f7f7f7; /* off white */
	
	/*________________*/
	/*                */
	/*     Size       */
	/*________________*/
	/* font-size determines the size of the button. */
	font-size: 25px;
	/* padding is how much extra space there is
	   in the button beyond the font. */
	padding: 15px 15px;
	width: 250px;
	
	/*________________*/
	/*                */
	/*      Look      */
	/*________________*/
	/* border-radius determines how round the button is. */
	border-radius: 20px;
	/* I went with a "softer" font for the text. */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/* Give is a shadow with the box-shadow feature. */
	box-shadow: 0 9px #999;
	
	/* transition-duration: .4s means wait a 
	   little to change the button look when
	   to mouse hovers over the button. */
	transition-duration: .4s;
}

/* This style rule will determine what happens
   when the mouse hovers over the button. */
.activebutton:hover {
	background-color: #ff1aff; /* light purple */
	/* font color line below */
	color: black;
}

/* This style rule determines what happens when
   the button is clicked. */
.activebutton:active {
	/* I changed the posistion and color of the shadow
	   with box-shadow so it will look like the shadow 
	   had moved when the user clicks on it. 
	*/
	box-shadow: 0 5px #666;
	/* transform moves the button. translateY(4px) means
	   move it down 4 pixels. */
	transform: translateY(4px);
}

.optionsSym {
	height: 40%;
	width: 40%;
}
.resumebutton {
	/*________________*/
	/*                */
	/*     Colors     */
	/*________________*/
	background-color: #b300b3; /* medium-purple */
	color: white;
	/* border adds a colored border to the button. */
	border: 2px solid #f7f7f7; /* off white */
	
	/*________________*/
	/*                */
	/*     Size       */
	/*________________*/
	/* font-size determines the size of the button. */
	font-size: 25px;
	/* padding is how much extra space there is
	   in the button beyond the font. */
	padding: 15px 15px;
	width: 250px;
	
	/*________________*/
	/*                */
	/*      Look      */
	/*________________*/
	/* border-radius determines how round the button is. */
	border-radius: 20px;
	/* I went with a "softer" font for the text. */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/* Give is a shadow with the box-shadow feature. */
	box-shadow: 0 9px #999;
	
	/* transition-duration: .4s means wait a 
	   little to change the button look when
	   to mouse hovers over the button. */
	transition-duration: .4s;
	
	position: relative;
	left: 125px;
	top:0px;
	border: 5px solid #9999ff; /*light purple*/
}

/* This style rule will determine what happens
   when the mouse hovers over the button. */
.resumebutton:hover {
	background-color: #ff1aff; /* light purple */
	/* font color line below */
	color: black;
}

.resumebutton:active {
	/* I changed the posistion and color of the shadow
	   with box-shadow so it will look like the shadow 
	   had moved when the user clicks on it. 
	*/
	box-shadow: 0 5px #666;
	/* transform moves the button. translateY(4px) means
	   move it down 4 pixels. */
	transform: translateY(4px);
}

.imageDisplay{
    height:100%;
    width:100%;
    position: relative;
    left: 0%;
    top: 0%;
}

.imageDisplayArea{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 5px solid #9999ff /* light blue, little white/pink */;
	/*box-shadow: 5px 5px #666; */
	background-color: white;
	width:450px;
	height:450px;
}

/* Text style for remaining pauses */
.pausesText {
	color: pink; 
	text-align: center;
	-webkit-text-stroke: 1px #B300B3;/* medium purple */
	font-size: 300%;
}

/* area where remaining pauses shows */
.remainingPauses {
	position: fixed;
	bottom: 20%
	width: 100%;
	text-align: center;
}

.popupBox { /*this probably needs to be done better in the future*/
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50px;
	left:30%;
	/*z-index: 4;*/
}
.popupImageDisplay{
	height: 40%;
	width: 40%;
	position: relative;
	top: 50px;
	left: 10%;
	display: inline-block;
	border: 5px solid #9999ff;
}

.inactive {
    background-color: #ff1aff; /* light purple */
	/* font color line below */
	color: black;
}

/*________________*/
/*                */
/*  Options Menu  */
/*________________*/
.optionsMenu 
{
	background-color: white;
	width: 35%;
	height: 80%;
	border-radius: 25px;
    border: 2px solid black;
	
	position: absolute;
    top:0 ;
    bottom: 10;
    left: 0;
    right: 0;

    margin: auto;
}

/* The rule for the button that closes the option menu. */

.optionsTitle
{
	font-size: 250%;
	color: pink;
	-webkit-text-stroke: 1px #B300B3;/* medium purple */
	position:absolute;
	left: 40%;
	top: -1%;
}
.exitOptions
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	background-color: pink;
	border: 1px solid #B300B3;
	border-radius: 70%;
	
	position:relative;
    top: 3%;
    left: 87%;
    right: 50%;
    bottom: 50%;
}

.optionsMenuButton
{
	border-radius: 28px;
    font-family: Arial;
    color: #B300B3;/* medium purple */
    font-size: 12px;
    padding: 8px 16px 8px 16px;
  
	background-color: pink;
	border: 1px solid #B300B3;/* medium purple */
	
	position: absolute;
    
	
	box-shadow: 0 9px #999;
}

#omb1
{
	top: 30%;
    left: 5%;
}

#omb2
{
	top: 40%;
    left: 5%;
}

#omb3
{
	top: 50%;
    left: 5%;
}

#omb4
{
	top: 60%;
    left: 5%;
}

/* This style rule will determine what happens
   when the mouse hovers over the button. */
.optionsMenuButton:hover {
	background-color: #B300B3;/* medium purple */
	border: 1px solid pink;
	/* font color line below */
	color: white;
}

/* This style rule determines what happens when
   the button is clicked. */
.optionsMenuButton:active {
	/* I changed the posistion and color of the shadow
	   with box-shadow so it will look like the shadow 
	   had moved when the user clicks on it. 
	*/
	box-shadow: 0 5px #666;
	/* transform moves the button. translateY(4px) means
	   move it down 4 pixels. */
	transform: translateY(4px);
}

.resetGameButton
{
	border-radius: 28px;
    font-family: Arial;
    color: #B300B3;/* medium purple */
    font-size: 20px;
    padding: 10px 20px 10px 20px;
  
	background-color: pink;
	border: 1px solid #B300B3;/* medium purple */
	
	position: absolute;
    top: 88%;
    left: 29%;
	
	box-shadow: 0 9px #999;
}

/* This style rule will determine what happens
   when the mouse hovers over the button. */
.resetGameButton:hover {
	background-color: #B300B3;/* medium purple */
	/* font color line below */
	color: white;
}

/* This style rule determines what happens when
   the button is clicked. */
.resetGameButton:active {
	/* I changed the posistion and color of the shadow
	   with box-shadow so it will look like the shadow 
	   had moved when the user clicks on it. 
	*/
	box-shadow: 0 5px #666;
	/* transform moves the button. translateY(4px) means
	   move it down 4 pixels. */
	transform: translateY(4px);
}

.stopPausesButton
{
	border-radius: 28px;
    font-family: Arial;
    color: #B300B3;/* medium purple */
    font-size: 20px;
    padding: 10px 20px 10px 20px;
  
	background-color: pink;
	border: 1px solid #B300B3;/* medium purple */
	
	position: absolute;
    top: 78%;
    left: 29%;
	
	box-shadow: 0 9px #999;
}

/* This style rule will determine what happens
   when the mouse hovers over the button. */
.stopPausesButton:hover {
	background-color: #B300B3;/* medium purple */
	border: 1px solid pink;
	/* font color line below */
	color: white;
}

/* This style rule determines what happens when
   the button is clicked. */
.stopPausesButton:active {
	/* I changed the posistion and color of the shadow
	   with box-shadow so it will look like the shadow 
	   had moved when the user clicks on it. 
	*/
	box-shadow: 0 5px #666;
	/* transform moves the button. translateY(4px) means
	   move it down 4 pixels. */
	transform: translateY(4px);
}

#pauseSliderWrapper
{
	position: absolute;
	left: 5%;
	top: 10%;
	color: pink;
	-webkit-text-stroke: .5px #B300B3;/* medium purple */
	font-size: 125%;
}

/*___________________________*/
/*                          */
/*     Input Range Rules     */
/*__________________________*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/*___________________________*/
/*                          */
/*   Rules for the Thumb    */
/*__________________________*/

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/*___________________________*/
/*                          */
/*   Rules for the Track    */
/*__________________________*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: pink;
  border-radius: 1.3px;
  border: 0.2px solid purple;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: pink;;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #pink;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: pink;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: pink;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: pink;
}




